@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/* .arimo-<uniquifier> {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.overlay-niveles{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 170px);    
}

.titulo-niveles{
    color: white;
    border-color: black solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
}


.foto{
    width: 300px;
    height: auto;
}

.contenedor-foto{
    display: flex;
    justify-content: space-between;
}


